<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding Exercise Solutions</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styleSheets/baseFile.css">
    <link rel="stylesheet" href="/styleSheets/codingExercise.css">
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <nav id="nav-bar-exercise">
            <ul>
                <li><a href="#Ex1">Ex1</a></li>
                <li><a href="#Ex2">Ex2</a></li>
                <li><a href="#Ex3">Ex3</a></li>
                <li><a href="#Ex4">Ex4</a></li>
                <li><a href="#Ex5">Ex5</a></li>
                <li><a href="#Ex6">Ex6</a></li>
                <li><a href="#Ex7">Ex7</a></li>
                <li><a href="#Ex8">Ex8</a></li>
                <li><a href="#Ex9">Ex9</a></li>
                <li><a href="#Ex10">Ex10</a></li>
                <li><a href="#Ex11">Ex11</a></li>
                <li><a href="#Ex12">Ex12</a></li>
                <li><a href="#Ex13">Ex13</a></li>
                <li><a href="#Ex14">Ex14</a></li>
                <li><a href="#Ex15">Ex15</a></li>
                <li><a href="#Ex16">Ex16</a></li>
                <li><a href="#Ex17">Ex17</a></li>
                <li><a href="#Ex18">Ex18</a></li>
                <li><a href="#Ex19">Ex19</a></li>
                <li><a href="#Ex20">Ex20</a></li>
                <li><a href="#Ex21">Ex21</a></li>
                <li><a href="#Ex22">Ex22</a></li>
                <li><a href="#Ex23">Ex23</a></li>
                <li><a href="#Ex24">Ex24</a></li>
                <li><a href="#Ex25">Ex25</a></li>
                <li><a href="#Ex26">Ex26</a></li>
                <li><a href="#Ex27">Ex27</a></li>
                <li><a href="#Ex28">Ex28</a></li>
                <li><a href="#Ex29">Ex29</a></li>
                <li><a href="#Ex30">Ex30</a></li>
                <li><a href="#Ex31">Ex31</a></li>
                <li><a href="#Ex32">Ex32</a></li>
                <li><a href="#Ex33">Ex33</a></li>
                <li><a href="#Ex34">Ex34</a></li>
                <li><a href="#Ex35">Ex35</a></li>
                <li><a href="#Ex36">Ex36</a></li>
                <li><a href="#Ex37">Ex37</a></li>
                <li><a href="#Ex38">Ex38</a></li>
                <li><a href="#Ex39">Ex39</a></li>
                <li><a href="#Ex40">Ex40</a></li>
                <li><a href="#Ex41">Ex41</a></li>
                <li><a href="#Ex42">Ex42</a></li>
                <li><a href="#Ex43">Ex43</a></li>
                <li><a href="#Ex44">Ex44</a></li>
                <li><a href="#Ex45">Ex45</a></li>
                <li><a href="#Ex46">Ex46</a></li>
                <li><a href="#Ex47">Ex47</a></li>
                <li><a href="#Ex48">Ex48</a></li>
                <li><a href="#Ex49">Ex49</a></li>
                <li><a href="#Ex50">Ex50</a></li>
                <li><a href="#Ex51">Ex51</a></li>
                <li><a href="#Ex52">Ex52</a></li>
                <li><a href="#Ex53">Ex53</a></li>
                <li><a href="#Ex54">Ex54</a></li>
                <li><a href="#Ex55">Ex55</a></li>
                <li><a href="#Ex56">Ex56</a></li>
                <li><a href="#Ex57">Ex57</a></li>
                <li><a href="#Ex58">Ex58</a></li>
                <li><a href="#Ex59">Ex59</a></li>
                <li><a href="#Ex60">Ex60</a></li>
                <li><a href="#Ex61">Ex61</a></li>
                <li><a href="#Ex62">Ex62</a></li>
            </ul>
        </nav>
        <a id="scrollUp" href="#top" style="position: fixed; z-index: 1000;">Scroll to top</a>
        <h1>Coding exercise solutions</h1>
        <div id="Ex1">
            <h2>Exercise 1:</h2>
            <code class="code-snippet cod-exer">
            <pre>
&lth1>Pangolin&lt/h1>
&lth2>Intro&lt/h2>
&ltp>Pangolins, sometimes known as scaly anteaters, are mammals of the order Pholidota 
(from Ancient Greek φολῐ́ς, "horny scale"). The one extant family, Manidae, has three genera: 
Manis, Phataginus and Smutsia. Manis comprises the four species found in Asia, 
while Phataginus and Smutsia include two species each, all found in Sub-Saharan Africa. 
These species range in size from 30 to 100 cm (12 to 39 in). A number of extinct pangolin species are 
also known.&lt/p>
&lth2>Description&lt/h2>
&ltp>Pangolins have large, protective keratin scales covering their skin; they are the only known mammals 
with this feature. They live in hollow trees or burrows, depending on the species. 
Pangolins are nocturnal, and their diet consists of mainly ants and termites, which they capture 
using their long tongues. They tend to be solitary animals, meeting only to mate and produce a 
litter of one to three offspring, which they raise for about two years.&lt/p>
&lth2>Poaching&lt/h2>
&ltp>Pangolins are threatened by poaching (for their meat and scales, which are used in Chinese traditional 
medicine) and heavy deforestation of their natural habitats, and are the most trafficked mammals in the world.
As of January 2020, of the eight species of pangolin, 
three (Manis culionensis, M. pentadactyla and M. javanica) are listed as critically endangered, three 
(Phataginus tricuspis, Manis crassicaudata and Smutsia gigantea) are listed as endangered and 
two (Phataginus tetradactyla and Smutsia temminckii) are listed as vulnerable on the 
Red List of Threatened Species of the International Union for Conservation of Nature.&lt/p> </pre>
        </code>
        </div>
        <div id="Ex2">
            <h2>Exercise 2:</h2>
            <code class="code-snippet cod-exer"> <pre>
&lth1>Movies</h1>
&lth2>My Top 3 Movies:&lt/h2>
&ltol>
&ltli>Amadeus&lt/li>
&ltli>Stand By Me&lt/li>
&ltli>Amelie&lt/li>
&lt/ol>

&lth2>Other Good Movies:&lt/h2>
&ltul>
&ltli>Alien&lt/li>
&ltli>Parasite&lt/li>
&ltli>Annie Hall&lt/li>
&lt/ul> </pre> </code>
        </div>
        <div id="Ex3">
            <h2>Exercise 3:</h2>
            <code class="code-snippet cod-exer">
            <pre>
&lta href="https://en.wikipedia.org/wiki/Wolf">Wolfy&lt/a>
&ltimg src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Kolm%C3%A5rden_Wolf.jpg" 
alt="I am a hungry wolf, Feed me or die HAHAHA">
            </pre>
        </code>
        </div>
        <article id="Ex4">
            <header>
                <h2>Exercise 4:</h2>

            </header>
            <code class="code-snippet sol-box cod-exer"><pre>
&lth1>&amp;#9731; Snowman Productions &ltsup>&amp;#174;&lt/sup>&lt/h1> 
        </pre></code>
        </article>
        <article id="Ex5">
            <header>
                <h2>Exercise 5:</h2>

            </header>
            <code class="code-snippet sol-box cod-exer"><pre>
&lttable>
&ltthead>
&lttr>
    &ltth>Subscription&lt/th>
    &ltth>Price&lt/th>
    &ltth>Support&lt/th>
&lt/tr>
&lt/thead>
&lttbody>
&lttr>
    &lttd>Free</td> 
    &lttd>Free</td>  
    &lttd>N/A</td> 
&lt/tr>
&lttr>
    &lttd>Personal</td> 
    &lttd>$9.99</td>
    &lttd>Weekdays</td>
&lt/tr> 
&lttr>
    &lttd>Business</td> 
    &lttd>$49.99</td> 
    &lttd>24/7</td> 
&lt/tr>
&lt/tbody>
&lt/table></pre></code>
        </article>
        <article id="Ex6">
            <header>
                <h2>Exercise 6: </h2>
            </header>
            <code class="code-snippet cod-exer">
            <pre>
&ltform>
    &ltlabel for="user">Username: &lt/label>
    &ltinput type="text" placeholder="username" id="user">
    
    &ltlabel for="password">Password:&lt/label>
    &ltinput type="password" placeholder="password" id="password">
    &ltbutton type="button">Register&lt/button>
&lt/form>
            </pre>
        </code>
        </article>
        <article id="Ex7">
            <header>
                <h2>Exercise 7:</h2>
            </header>
            <code class="code-snippet"><pre>h1 {
    color:green;
}

h2{
    color:magenta;
}

p{
    color:white;
    background-color:black;
}

button{
    color:red;
    background-color:pink;
}</pre></code>
        </article>
        <article id="Ex8">
            <header>
                <h2>Exercise 8:</h2>
            </header>
            <code class="code-snippet"><pre>h1{
    text-transform: uppercase;
    font-family: monospace;
    text-align: center;
    font-weight: 100;
    font-size: 40px;
    letter-spacing: 20px;
    text-decoration: plum underline wavy;
}</pre></code>
        </article>
        <article id="Ex9">
            <header>
                <h2>Exercise 9:</h2>

            </header>
            <code class="code-snippet"><pre>/* Make all LI's blue */
li{
    color: blue;
}
/* Make everything with the class of 'done' grey*/
.done{
    color: grey;
}
/* Make the element with the id of 'clear' have a red BG and white text */
#clear{
    background-color: red;
    color: white;
}</pre></code>
        </article>
        <article id=Ex10>
            <header>
                <h2>Exercise 10:</h2>

            </header>
            <code class="code-snippet"><pre>header a{
    font-size: 30px;
    color: teal;
}
#dislikes a{
    font-weight: bold;
    color: red;
}</pre></code>
        </article>
        <article id="Ex11">
            <header>
                <h2>Exercise 11:</h2>

            </header>
            <code class="code-snippet"><pre>#board .square:nth-of-type(2n){
    background-color: black;
}
#board .square:nth-of-type(2n+1){
    background-color: red;
}</pre></code>
        </article>
        <article id="Ex12">
            <header>
                <h2>Exercise 12:</h2>

            </header>
            <code class="code-snippet"><pre>div.card{
    width: 210px;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
}
.card img{
    width: 200px;
    border: 5px solid rgb(236, 183, 191);
    border-radius: 50%;
}</pre></code>
        </article>
        <article id="Ex13">
            <header>
                <h2>Exercise 13:</h2>

            </header>
            <code class="code-snippet"><pre>
&lt!DOCTYPE html>
&lthtml>
&lthead>
    &lttitle>Bootstrap Buttons Exercise&lt/title>
    <!--INCLUDING BOOTSTRAP-->
    &ltlink rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap
    /4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjp
    SL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

&lt/head>
&ltbody>
    &ltsection class="container">
      &lth1 class="text-white bg-dark text-center">Bad News&lt/h1>
      
      &ltdiv class="alert alert-warning" role="alert">
        You are going to die one day! It sucks, but it's normal :( 
      &lt/div>
      
      &ltbutton class="btn btn-success">Come To Terms With&lt/button>
      &ltbutton class="btn btn-danger">Continue To Deny&lt/button>
      
    &lt/section>
&lt/body>
&lt/html>
</pre></code>
        </article>
        <article id="Ex14">
            <header>
                <h2>Exercise 14:</h2>

            </header>
            <code class="code-snippet"><pre>
&lt!DOCTYPE html>
&lthtml>
&lthead>
    &lttitle>Bootstrap Grid Exercise&lt/title>
    <!--INCLUDING BOOTSTRAP-->
    &ltlink rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap
    /4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjp
    SL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

&lt/head>
&ltbody>
    &ltdiv class="container">
    &ltdiv class="row">
        &ltdiv class="col-4 bg-danger">One Third&lt/div>
        &ltdiv class="col-8 bg-info">Two Thirds&lt/div>
    &lt/div>
    &ltdiv class="row">
        &ltdiv class="col-3 bg-warning">One Quarter&lt/div>
        &ltdiv class="col-6 bg-primary">One Half&lt/div>
        &ltdiv class="col-3 bg-warning">One Quarter&lt/div>
    &lt/div>
&lt/div>
&lt/body>
&lt/html>
</pre></code>
        </article>
        <article id="Ex15">
            <header>
                <h2>Exercise 15:</h2>

            </header>
            <code class="code-snippet"><pre>
// Define a variable called myLuckyNumber and set it equal to 37
let myLuckyNumber = 37;
let octopusLimbs = 8;</pre></code>
        </article>
        <article id="Ex16">
            <header>
                <h2>Exercise 16:</h2>

            </header>
            <code class="code-snippet"><pre>
const boilingPointC = 100;
const boilingPointF = 212;</pre></code>
        </article>
        <article id="Ex17">
            <header>
                <h2>Exercise 17:</h2>

            </header>
            <code class="code-snippet"><pre>
let bestColor = "purple";
const quote = 'You had me at "hello"';</pre></code>
        </article>
        <article id="Ex18">
            <header>
                <h2>Exercise 18:</h2>

            </header>
            <code class="code-snippet"><pre>
// DON'T TOUCH THIS LINE!
const message = "    TASTE THE RAINBOW!  "; //DON'T CHANGE THIS LINE PLEASE!

// YOUR CODE BELOW THIS LINE:
let whisper = message.trim().toLowerCase();</pre></code>
        </article>
        <article id="Ex19">
            <header>
                <h2>Exercise 19:</h2>

            </header>
            <code class="code-snippet"><pre>
// DON'T TOUCH THIS LINE! (please)
const word = "skateboard"; //Don't change this line!

// YOUR CODE BELOW THIS LINE:
let facialHair = word.slice(5).replace('o', 'e');</pre></code>
        </article>
        <article id="Ex20">
            <header>
                <h2>Exercise 20:</h2>

            </header>
            <code class="code-snippet"><pre>
// NO TOUCHING! (please)
const die1 = Math.floor(Math.random() * 6) + 1; //random number from 1-6
const die2 = Math.floor(Math.random() * 6) + 1; //random number from 1-6

// YOUR CODE BELOW THIS LINE:
let roll = `You rolled a ${die1} and a ${die2}. They sum to ${die1 + die2}`;</pre></code>
        </article>
        <article id="Ex21">
            <header>
                <h2>Exercise 21:</h2>

            </header>
            <code class="code-snippet"><pre>
function isEven(num){
    //WRITE YOUR CODE BETWEEN THIS LINE: ↓ ↓ ↓ ↓ 
   if(num % 2 === 0){
       console.log("even");
   }
   
    //AND THIS LINE ↑↑↑↑↑
}</pre></code>
        </article>
        <article id="Ex22">
            <header>
                <h2>Exercise 22:</h2>

            </header>
            <code class="code-snippet"><pre>
function getColor(phrase){
    //WRITE YOUR CODE BETWEEN THIS LINE: ↓ ↓ ↓ ↓ 
   if(phrase ==="stop"){
       console.log("red");
   } else if(phrase ==="slow"){
       console.log("yellow");
   } else if(phrase ==="go"){
       console.log("green");
   } else {
       console.log('purple');
   }
   
    //AND THIS LINE ↑↑↑↑↑
}</pre></code>
        </article>
        <article id="Ex23">
            <header>
                <h2>Exercise 23:</h2>

            </header>
            <code class="code-snippet"><pre>
// Change the value of num, so that "YOU GOT ME!" prints out
const num = 102; // THIS IS THE ONLY LINE YOU SHOULD CHANGE :) 

// DO NOT TOUCH ANYTHING BELOW (please) 
if(num <= 100) {
    if(num >= 50) {
        console.log("HEY!");
    }
} else {
    if (num < 103) {
        if(num % 2 === 0){
            console.log("YOU GOT ME!");
        }
    }
}</pre></code>
        </article>
        <article id="Ex24">
            <header>
                <h2>Exercise 24:</h2>

            </header>
            <code class="code-snippet"><pre>
const mystery = 'Password7'; //CHANGE THIS VALUE TO MAKE THE CONDITIONAL BELOW TRUE

// LEAVE THIS CODE ALONE! (pretty please)
if(mystery[0] === 'P' && mystery.length > 5 && mystery.indexOf('7') !== -1){
    console.log("YOU GOT IT!!!");
}</pre></code>
        </article>
        (li>a[href=#Lec$@120]{Lecture $@120})*9

        <article id="Ex25">
            <header>
                <h2>Exercise25</h2>

            </header>
            <code class="code-snippet"><pre>
// Define lottoNumbers below:
const lottoNumbers = [19,89,55,67,23,78];</pre></code>
        </article>
        <article id="Ex26">
            <header>
                <h2>Exercise26</h2>

            </header>
            <code class="code-snippet">
            <pre>
const leaderboard = ['Harry', 'Lua', 'Hermione', 'Bellatrix']; //DON'T TOUCH THIS LINE!

// YOUR CODE BELOW HERE:
leaderboard[1] = "Luna";
leaderboard[3] = "Draco";
</pre></code>
        </article>
        <article id="Ex27">
            <header>
                <h2>Exercise27</h2>

            </header>
            <code class="code-snippet"><pre>
 const planets = ['The Moon','Venus', 'Earth', 'Mars', 'Jupiter']; //DO NOT TOUCH THIS LINE!

// YOUR CODE GOES BELOW THIS LINE:
planets.shift();
planets.push("Saturn");
planets.unshift("Mercury");
</pre></code>
        </article>
        <article id="Ex28">
            <header>
                <h2>Exercise28</h2>

            </header>
            <code class="code-snippet"><pre>
// DO NOT TOUCH!!! (please)
const airplaneSeats = [
    ['Ruth', 'Anthony', 'Stevie'],
    ['Amelia', 'Pedro', 'Maya'],
    ['Xavier', 'Ananya', 'Luis'],
    ['Luke', null, 'Deniz'],
    ['Rin', 'Sakura', 'Francisco']
];

// YOUR CODE GOES BELOW THIS LINE:
airplaneSeats[3][1] = "Hugo";
</pre></code>
        </article>
        <article id="Ex29">
            <header>
                <h2>Exercise29</h2>

            </header>
            <code class="code-snippet"><pre>
const product = {name: "Gummy Bears",
                 inStock: true,
                 price: 1.99,
                 flavors: ["grape","apple","cherry"]
}</pre></code>
        </article>
        <article id="Ex30">
            <header>
                <h2>Exercise30</h2>

            </header>
            <code class="code-snippet"><pre>
//PLEASE DON'T TOUCH THIS LINE!
const restaurant = {
    name: 'Ichiran Ramen',
    address: `${Math.floor(Math.random() * 100) + 1} Johnson Ave`,
    city: 'Brooklyn',
    state: 'NY',
    zipcode: '11206',
}

//YOUR CODE GOES DOWN HERE:
const fullAddress = `${restaurant.address}, ${restaurant.city}, ${restaurant.state} ${restaurant.zipcode}`;
            </pre></code>
        </article>
        <article id="Ex31">
            <header>
                <h2>Exercise31</h2>

            </header>
            <code class="code-snippet">
            <pre>
// Print out "Da ba dee da ba daa" 6 times, using a for loop
for(let i =0; i < 6; i++){
    console.log("Da ba dee da ba daa");
}</pre></code>
        </article>
        <article id="Ex32">
            <header>
                <h2>Exercise32</h2>

            </header>
            <code class="code-snippet">
            <pre>
// Write a loop that prints:
// 25
// 20
// 15
// 10
// 5
// 0

for(let i =25; i >= 0; i -=5){
    console.log(i);
}</pre></code>
        </article>
        <article id="Ex33">
            <header>
                <h2>Exercise33</h2>

            </header>
            <code class="code-snippet">
            <pre>
const people = ["Scooby", "Velma", "Daphne", "Shaggy", "Fred"]; //DONT TOUCH THIS LINE!

// WRITE YOUR LOOP BELOW THIS LINE:
for(let i =0; i < people.length; i++){
    console.log(people[i].toUpperCase())
}</pre>
        </code>
        </article>
        <article id="Ex34">
            <header>
                <h2>Exercise34</h2>

            </header>
            <code class="code-snippet"><pre>
const numbers = [1,2,3,4,5,6,7,8,9]; //DON'T CHANGE THIS LINE PLEASE!

for(let num of numbers){
    console.log(num*num);
}</pre>
        </code>
        </article>
        <article id="Ex35">
            <header>
                <h2>Exercise35</h2>

            </header>
            <code class="code-snippet">
            <pre>
// Write your function here:
function printHeart(){
    console.log("&lt3");
}

printHeart(); </pre>
        </code>
        </article>
        <article id="Ex36">
            <header>
                <h2>Exercise36</h2>

            </header>
            <code class="code-snippet">
            <pre>
// DEFINE YOUR FUNCTION:
function rant(message){
    for(let i =0; i &lt3; i++){
        console.log(message.toUpperCase());
    }
}

rant("i hate beets");
</pre> </code>
        </article>
        <article id="Ex37">
            <header>
                <h2>Exercise37</h2>

            </header>
            <code class="code-snippet">
            <pre>
// define isSnakeEyes below:
function isSnakeEyes(num1, num2){
    if(num1 ===1 && num2 ===1){
        console.log("Snake Eyes!");
    }
    else{
        console.log("Not Snake Eyes!");
    }
}</pre></code>
        </article>
        <article id="Ex38">
            <header>
                <h2>Exercise38</h2>

            </header>
            <code class="code-snippet">
            <pre>
// DEFINE YOUR FUNCTION BELOW:
function multiply(num1,num2){
    return num1*num2;
} </pre> </code>
        </article>

        <article id="Ex39">
            <h2>Exercise 39: </h2>
            <code class="code-snippet"> <pre>function isShortsWeather(temp) {
if (temp >= 75) {
return true;
}
return false;
}</pre> </code>
        </article>
        <article id="Ex40">
            <h2>Exercise 40: </h2>
            <code class="code-snippet"> <pre>
<div class="sol-box">
<h4>Solution 1:</h4>
function lastElement(arr){
    if(arr.length === 0){
        return null;
    }
    return arr[arr.length -1]
}
</div>
<div class="sol-box">
<h4>Solution 2 <span class="sol-author">(Provided by TA- Zarko):</span></h4>
function lastElement(arr) {
    if (!arr.length) return null;
    return arr[arr.length - 1];
}
</div>
<div class="sol-box">
<h4>Solution 3 <span class="sol-author">(Written by Marcello in Udemy Q/A):</span></h4>
const lastElement = Arr => (Arr.length - 1 < 0) ? null : Arr[Arr.length - 1];
</div>
</pre> </code>
            </div>
            <div id="Ex41">
                <h2>Exercise 41: </h2>
                <code class="code-snippet"> <pre>
<div class="sol-box">
function capitalize(str){
    const upperStr = str[0].toUpperCase()+str.slice(1);
    return upperStr
}
</div> </pre></code>
        </article>
        <article id="Ex42">
            <h2>Exercise 42: </h2>
            <code class="code-snippet"> <pre>
<div class="sol-box">
function sumArray(numArr){
    let sum =0;
    for(let num of numArr){
        sum+= num;
    }
    return sum;
}</div> </pre> </code>
        </article>
        <article id="Ex43">
            <h2>Exercise 43: </h2>
            <code class="code-snippet"> <pre>
            <div class="sol-box"> 
<h4>Solution 1:</h4>  
function returnDay(num){
    if(num > 7 || num < 1){
        return null;
    }
    switch(num){
        case 1:
            return "Monday"
            break;
        case 2:
            return "Tuesday"
            break;
        case 3:
            return "Wednesday"
            break;
        case 4:
            return "Thursday"
            break;
        case 5:
            return "Friday"
            break;
        case 6:
            return "Saturday"
            break;
        case 7:
            return "Sunday"
            break;
    }
}
</div>
<div class="sol-box">
<h4>Solution 2:</h4>
function returnDay(dayNum){
    const weekDays = ["Monday","Tuesday","Wednesday",
            "Thursday","Friday","Saturday","Sunday"];
    if(dayNum < 1 || dayNum > 7){
        return null;
    }
    return weekDays[dayNum-1];
}
</div>  
<div class="sol-box">
<h4>Solution 3: <span class="sol-author">(Written by Hernan in <a href="https://www.udemy.com/course/the-web-developer-bootcamp/learn/quiz/5031282#questions/13831776">Udemy</a> Q/A):</span></h4>
function returnDay(number) {
  if (number < 1 || number > 7) {
    return null;
  } else {
    const myDaysObject = {
      1 : 'Monday',
      2 : 'Tuesday',
      3 : 'Wednesday',
      4 : 'Thursday', 
      5 : 'Friday', 
      6 : 'Saturday', 
      7 : 'Sunday',
    }
    return myDaysObject[number];
  }
}
</div>
<div class="sol-box">
    <h4>Solution 4: <span class="sol-author">(Written by <a href="https://www.udemy.com/course/the-web-developer-bootcamp/learn/quiz/5031282#questions/12850243">Lakshmi Manasa</a> in Udemy Q/A):</span></h4>
function returnDay(num){
    const days = [null,'Monday',"Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"];
    return num> 0 && num < 8 ?days[num] : null;
}
    </div>
</pre>  </code>
        </article>
        <article id="Ex44">
            <header>
                <h2>Exercise 44:</h2>
            </header>
            <code class="code-snippet"> <pre>   
            <div class="sol-box">
const square = function (num){
    return num * num;
}</div></pre></code>
        </article>
        <article id="Ex45">
            <header>
                <h2>Exercise 45:</h2>
            </header>
            <code class="code-snippet"> <pre>   
            <div class="sol-box">
const square={
    area (side){ 
        return side*side;
    },
    perimeter: function(side){
        return side*4;
    }
}</div></pre></code>
        </article>
        <article id="Ex46">
            <header>
                <h2>Exercise 46:</h2>
            </header>
            <code class="code-snippet"> <pre>   
            <div class="sol-box">
const hen = {
    name: "Helen",
    eggCount: 0,
    layAnEgg() {
        this.eggCount++;
        return "EGG";
    }
} </div></pre></code>
        </article>
        <article id="Ex47">
            <header>
                <h2>Exercise 47:</h2>
            </header>
            <code class="code-snippet"><pre><div class="sol-box">
Old answer -
function cleanNames(arr){
    return arr.map(function(name){
        return name.trim();
    })} 
</div>
<div class="sol-box">
const firstNames = fullNames.map(item => item.first)
</div>
</pre></code>
        </article>
        <article id="Ex48">
            <header>
                <h2>Exercise 48:</h2>
            </header>
            <code class="code-snippet"><pre><div class="sol-box">
const greet = name => {
    return `Hey ${name}!`;
}</div></pre></code>
        </article>
        <article id="Ex49">
            <header>
                <h2>Exercise 49:</h2>

            </header>
            <code class="code-snippet"><pre><div class="sol-box">
function validUserNames(names) {
    const ans = names.filter(name => name.length < 10)
    return ans;
}
</div>
<div class="sol-box">
const validUserNames = (strArr) => strArr.filter(str => str.length < 10)
</div></pre></code>
        </article>
        <article id="Ex50">
            <header>
                <h2>Exercise 50:</h2>

            </header>
            <code class="code-snippet"><pre>
<div class="sol-box">
<h4>Solution 1:</h4> 
const allEvens = arr => arr.every(num => num % 2 === 0);</div>
<div class="sol-box">
<h4>Solution 2: <span class="sol-author">(Written by Rafael in Udemy <a href="https://www.udemy.com/course/the-web-developer-bootcamp/learn/quiz/5031422#questions/13365738">Q/A</a>):</span></h4>
const allEvens = arr => (arr.every(val => {
    return val % 2 === 0;
})); </div></pre></code>
        </article>
        <article id="Ex51">
            <header>
                <h2>Exercise 51:</h2>
            </header>
            <code class="code-snippet"><pre>
const image = document.getElementById("unicorn")
const heading = document.getElementById("mainheading")
            </pre></code>
        </article>
        <article id="Ex52">
            <header>
                <h2>Exercise 52:</h2>
            </header>
            <code class="code-snippet"><pre>
const doneTodos = document.querySelectorAll(".done");
const checkbox = document.querySelector("input[type='checkbox']");
            </pre></code>
        </article>
        <article id="Ex53">
            <header>
                <h2>Exercise 53:</h2>
            </header>
            <code class="code-snippet"><pre>
const heading = document.querySelector("h1 span")
heading.innerHTML = "&ltb>Disgusting&lt/b>"
            </pre></code>
        </article>
        <article id="Ex54">
            <header>
                <h2>Exercise 54:</h2>
            </header>
            <code class="code-snippet"><pre>
const chickImage = document.querySelector("img");
chickImage.src = "https://devsprouthosting.com/images/chicken.jpg";
chickImage.alt = "chicken";  
</pre></code>
        </article>
        <article id="Ex55">
            <header>
                <h2>Exercise 55:</h2>
            </header>
            <code class="code-snippet"><pre>
const container = document.querySelector("#container");
container.style.textAlign = "center";
const img = document.querySelector("img");
img.style.width = "150px";
img.style.borderRadius = "50%";
        </pre></code>
        </article>
        <article id="Ex56">
            <header>
                <h2>Exercise 56:</h2>
            </header>
            <code class="code-snippet"><pre>
const headingSpans = document.querySelectorAll("h1 span");
for(let i =0; i < headingSpans.length; i++){
    headingSpans[i].style.color = colors[i]; 
}</pre></code>
        </article>
        <article id="Ex57">
            <header>
                <h2>Exercise 57:</h2>
            </header>
            <code class="code-snippet"><pre>
const listItems = document.querySelectorAll("li");
for(let item of listItems){
item.classList.toggle("highlight");
}</pre></code>
        </article>
        <article id="Ex58">
            <header>
                <h2>Exercise 58:</h2>
            </header>
            <code class="code-snippet"><pre>
const buttonContainer = document.querySelector("#container");
for(let i =0; i < 100; i++){
    const myButton = document.createElement('button');
    myButton.innerText = "Hello";
    buttonContainer.appendChild(myButton);
}</pre></code>
        </article>
        <article id="Ex59">
            <header>
                <h2>Exercise 59:</h2>

            </header>
            <code class="code-snippet"><pre>&ltbody>
    &lth1 onclick="console.log('boo')">Inline Events Suck...&lt/h1>
    &ltbutton id="btn" onclick="console.log('clicked')">Click Me&lt/button>
&lt/body></pre></code>
        </article>
        <article id="Ex60">
            <header>
                <h2>Exercise 60:</h2>

            </header>
            <code class="code-snippet"><pre>
const welcomeBtn = document.querySelector("#hello");
const byeBtn = document.querySelector("#goodbye");

welcomeBtn.addEventListener('click', () =>{
    console.log("hello")
})

byeBtn.addEventListener('click', () =>{
    console.log("goodbye")
})</pre></code>
        </article>
        <article id="Ex61">
            <header>
                <h2>Exercise 61:</h2>

            </header>
            <code class="code-snippet"><pre>
const form = document.querySelector('form');
const product = document.querySelector("#product")
const qty = document.querySelector("#qty");
const list = document.querySelector("#list");

form.addEventListener('submit', function(evt){
    evt.preventDefault();
    const listItem = document.createElement("li");
    listItem.innerHTML = `${qty.value} ${product.value}`;
    list.appendChild(listItem);
    qty.value = "";
    product.value = "";
})</pre></code>
        </article>
        <article id="Ex62">
            <header>
                <h2>Exercise 62:</h2>

            </header>
            <code class="code-snippet"><pre>
<div class="sol-box">
const heading = document.querySelector("h1");
const inputBox = document.querySelector("#username");

inputBox.addEventListener('input', function(){
    heading.innerText = `Welcome, ${inputBox.value}`;
    if(inputBox.value === ""){
        heading.innerText = "Enter Your Username";
    }
})</div>
<div class="sol-box">
<a href="https://www.udemy.com/course/the-web-developer-bootcamp/learn/quiz/5032022#questions/13773776">Ian's explanation for directly using username</a>

    <h3>Ian answer</h3>
let h1 = document.querySelector('h1')
username.addEventListener('input', function(e) {
  h1.innerText = `Welcome, ${this.value}`
  if(!this.value) h1.innerText = 'Enter Your Username'
})
</div>
<div class="sol-box">
    <h3>Ian answer</h3>
let h1 = document.querySelector('h1')
username.addEventListener('input', function(e) {
  h1.innerText = this.value ? `Welcome, ${this.value}` : 'Enter Your Username';
})</div>
</pre></code>
        </article>
</body>

</html>