<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <h1>Welcome to Web Development Notes</h1>
    <div id="coding-jokes">
        <p></p>
    </div>
    <nav id="center-nav">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Notes</a></li>
            <li><a href="tips.html">Tips</a></li>
            <li><a href="resources.html">Resources</a></li>
            <li><a href="">About me</a></li>
        </ul>
    </nav>
    <p>Jokes API -</p>
    <ul>
        <li>
            <a href="https://v2.jokeapi.dev/joke/Programming?blacklistFlags=nsfw,explicit&type=single">API_request</a>
            <a href="https://sv443.net/jokeapi/v2/#url-parameters">Homepage</a>
        </li>
        <li>
            <a href="https://github.com/15Dkatz/official_joke_api">GitRepo</a> of coding jokes. This is different than
            the first one
        </li>
    </ul>
    <div id="section-options">
        <label for="topic">Display sections by topic:</label>
        <select name="topic" id="topic-selector">
            <option value="">---Select One---</option>
            <option value="html">HTML</option>
            <option value="css">CSS</option>
            <option value="js">Javascript</option>
            <option value="backend">Backend</option>
        </select>
    </div>
    <div class="section-selector">
        <section data-topic="html">
            <h2>HTML sections -</h2>
            <a href="/section/3" target="_blank" rel="noreferrer noopener">Section 3</a>
            <a href="/section/4" target="_blank" rel="noreferrer noopener">Section 4</a>
            <a href="/section/5" target="_blank" rel="noreferrer noopener">Section 5</a>
        </section>
        <section data-topic="css">
            <h2>CSS sections -</h2>
            <a href="/section/6" target="_blank" rel="noreferrer noopener">Section 6</a>
            <a href="/section/7" target="_blank" rel="noreferrer noopener">Section 7</a>
            <a href="/section/8" target="_blank" rel="noreferrer noopener">Section 8</a>
            <a href="/section/9" target="_blank" rel="noreferrer noopener">Section 9</a>
            <a href="/section/10" target="_blank" rel="noreferrer noopener">Section 10</a>
            <a href="/section/11" target="_blank" rel="noreferrer noopener">Section 11</a>
            <a href="/section/12" target="_blank" rel="noreferrer noopener">Section 12</a>
        </section>
        <section data-topic="js">
            <h2>Javascript sections -</h2>
            <a href="/section/14" target="_blank" rel="noreferrer noopener">Section 14</a>
            <a href="/section/15" target="_blank" rel="noreferrer noopener">Section 15</a>
            <a href="/section/16" target="_blank" rel="noreferrer noopener">Section 16</a>
            <a href="/section/17" target="_blank" rel="noreferrer noopener">Section 17</a>
            <a href="/section/18" target="_blank" rel="noreferrer noopener">Section 18</a>
            <a href="/section/19" target="_blank" rel="noreferrer noopener">Section 19</a>
            <a href="/section/20" target="_blank" rel="noreferrer noopener">Section 20</a>
            <a href="/section/21" target="_blank" rel="noreferrer noopener">Section 21</a>
            <a href="/section/22" target="_blank" rel="noreferrer noopener">Section 22</a>
            <a href="/section/23" target="_blank" rel="noreferrer noopener">Section 23</a>
            <a href="/section/24" target="_blank" rel="noreferrer noopener">Section 24</a>
            <a href="/section/25" target="_blank" rel="noreferrer noopener">Section 25</a>
            <a href="/section/26" target="_blank" rel="noreferrer noopener">Section 26</a>
            <a href="/section/27" target="_blank" rel="noreferrer noopener">Section 27</a>
            <a href="/section/28" target="_blank" rel="noreferrer noopener">Section 28</a>
            <a href="/section/29" target="_blank" rel="noreferrer noopener">Section 29</a>
        </section>
        <section data-topic="backend">
            <h2>Backend sections -</h2>
            <a href="/section/30" target="_blank" rel="noreferrer noopener">Section 30</a>
            <a href="/section/31" target="_blank" rel="noreferrer noopener">Section 31</a>
            <a href="/section/32" target="_blank" rel="noreferrer noopener">Section 32</a>
            <a href="/section/33" target="_blank" rel="noreferrer noopener">Section 33</a>
            <a href="/section/34" target="_blank" rel="noreferrer noopener">Section 34</a>
            <a href="/section/35" target="_blank" rel="noreferrer noopener">Section 35</a>
            <a href="/section/36" target="_blank" rel="noreferrer noopener">Section 36</a>
            <a href="/section/37" target="_blank" rel="noreferrer noopener">Section 37</a>
            <a href="/section/38" target="_blank" rel="noreferrer noopener">Section 38</a>
            <a href="/section/39" target="_blank" rel="noreferrer noopener">Section 39</a>
            <a href="/section/40" target="_blank" rel="noreferrer noopener">Section 40</a>
            <a href="/section/41" target="_blank" rel="noreferrer noopener">Section 41</a>
            <a href="/section/42" target="_blank" rel="noreferrer noopener">Section 42</a>
            <a href="/section/43" target="_blank" rel="noreferrer noopener">Section 43</a>
            <a href="/section/44" target="_blank" rel="noreferrer noopener">Section 44</a>
            <a href="/section/45" target="_blank" rel="noreferrer noopener">Section 45</a>
            <a href="/section/46" target="_blank" rel="noreferrer noopener">Section 46</a>
            <a href="/section/47" target="_blank" rel="noreferrer noopener">Section 47</a>
            <a href="/section/48" target="_blank" rel="noreferrer noopener">Section 48</a>
            <a href="/section/49" target="_blank" rel="noreferrer noopener">Section 49</a>
            <a href="/section/50" target="_blank" rel="noreferrer noopener">Section 50</a>
            <a href="/section/51" target="_blank" rel="noreferrer noopener">Section 51</a>
            <a href="/section/52" target="_blank" rel="noreferrer noopener">Section 52</a>
            <a href="/section/53" target="_blank" rel="noreferrer noopener">Section 53</a>
            <a href="/section/54" target="_blank" rel="noreferrer noopener">Section 54</a>
            <a href="/section/55" target="_blank" rel="noreferrer noopener">Section 55</a>
            <a href="/section/56" target="_blank" rel="noreferrer noopener">Section 56</a>
            <a href="/section/57" target="_blank" rel="noreferrer noopener">Section 57</a>
            <a href="/section/58" target="_blank" rel="noreferrer noopener">Section 58</a>
            <a href="/section/59" target="_blank" rel="noreferrer noopener">Section 59</a>
        </section>
        <!-- Place for user own created sections -->
        <section data-topic="user-section">
            <h2>My sections -</h2>
            <% for(section of userSections) {%>
                <p>Section made by the user</p>
                <% } %>
        </section>
    </div>
    <script src="js/app.js"></script>
</body>

</html>