<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="D:\Web Development\Notes project\baseFile.css">
</head>

<body>

</body>
<h1>Resources</h1>
<section id="html-resource">
    <ul>
        <li>For proper naming conventions visit <a href="https://ed.fnal.gov/lincon/tech_web_naming.shtml">this</a>
            site.
        </li>
        <li>Emmet <a href="https://docs.emmet.io/cheat-sheet/">cheatsheet</a> </li>
        <li><a href="https://www.youtube.com/watch?v=qZv-rNx0jEA">Colt Flexbox</a></li>
        <li><a
                href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox">BasicFlexboxIntroMDN</a>
        </li>
        <li> <a href="https://codepen.io/enxaneta/full/adLPwv/">CodePen</a> for understanding flexbox.</li>
        <li>A great article on <a href="https://web.dev/promises/">Promises</a></li>
        <li>Sites for making modals - <a
                href="https://stackoverflow.com/questions/18995461/how-can-i-show-data-using-a-modal-when-clicking-a-table-row-using-bootstrap">SO1</a>
            <a
                href="https://stackoverflow.com/questions/30472552/create-modal-when-table-row-was-clicked/30472754">SO2</a>
            <a href="https://www.w3schools.com/howto/howto_js_dropdown.asp">W3Schools</a>
        </li>
    </ul>
</section>

</html>