<nav id="center-nav">
    <ul>
        <li><a href="/tips">Tips</a></li>
        <li><a href="/resources">Resources</a></li>
        <li><a href="/aboutme">About me</a></li>
        <li><a href="/home">Home</a></li>
        <li><a href="/codingExercises">Coding Exercises</a></li>
    </ul>
</nav>