<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <%if(id <=5){ %>
        <link rel="stylesheet" href="/styleSheets/htmlStyle.css">
        <% } else if(id <=12) {%>
            <link rel="stylesheet" href="/stylesheets/cssStyle.css">
            <% } else if(id <=30) {%>
                <link rel="stylesheet" href="/stylesheets/jsStyle.css">
                <% } else if(id>30){ %>
                    <link rel="stylesheet" href="/styleSheets/backendStyle.css">
                    <% } %>
                        <link rel="stylesheet" href="/styleSheets/baseFile.css">
                        <title>Section <%=id%>
                        </title>
</head>

<body>
    <section id="sec<%=id%>" class="backend-section">
        <%- body %>
    </section>
    <%- include('../partials/footer.ejs') %>
</body>

</html>