<%- include('partials/header.ejs') %>
    <%- include('partials/navbar.ejs') %>

        <article id="Lec352">
            <header class="backend-article-header">
                <h2><span class="backend-lec-heading">Lecture 352: What matters in this section?</span></h2>
            </header>
            <p class="sec-para-main">This section's main focus is on the key differences between GET and POST requests
                and how do we send the data from a form in express and use that data in a POST request, we also
                learn gow RESTful routes are structured.</p>
        </article>
        <article id="Lec353">
            <header class="backend-article-header">
                <h2><span class="backend-lec-heading">Lecture 353: Get Vs. Post Requests</span></h2>
            </header>
            <p class="sec-para-main">We discuss Get and Post requests in this lecture -</p>
            <ul>
                <li>Get request-
                    <ol>
                        <li>It is used to retreive data, searching queries etc.</li>
                        <li>GET requests doesn't alter the webpage's backend in any way.</li>
                        <li>The form queries we submit through a get request is visible in the URL and can be bookmarked
                            for easier access.</li>
                        <li>Limited amount of information can be sent through GET requests.</li>
                    </ol>
                </li>
                <li>Post request-
                    <ol>
                        <li>It is used to send data over a server, it has a body which contains data. That data could
                            be in format of JSON, plain text etc.</li>
                        <li>It can be used to alter the webpage's backend.</li>
                        <li>Large amount of data can be sent through PoSt request.</li>
                    </ol>
                </li>
            </ul>
            <p class="notes">Note: Get, Post and other form of requests are just a way of naming convention their uses
                can be interchanged.</p>
        </article>

        <%- include('partials/footer.ejs') %>