body {
    background: linear-gradient(to right, #74ebd5, #acb6e5);
}

#coding-jokes {
    margin: 0 auto;
    background-color: linen;
    width: 80vw;
    height: 15vh;
    position: relative;
}

#coding-jokes>p {
    font-size: 2em;
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 40%;
}

#center-nav {
    padding: 1em 0;
}

#center-nav>ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: rgb(26, 91, 132);
    padding: 1em 0;
}

#center-nav li {
    font-size: 1.5em;
}

#center-nav a {
    color: rgb(156, 232, 235);
    text-decoration: none;
    transition: all 0.5s ease-in;
}

#center-nav a:hover {
    color: darkcyan;
    background-color: rgb(231, 189, 160);
    border-radius: 7px;
    padding: 0 0.5rem;
}

.section-selector {
    display: flex;
    flex-wrap: wrap;
}

.section-selector a {
    /* display: flex; */
    text-decoration: none;
    padding: 1.5em 2em;
    margin: 1em;
    background-color: rgb(151, 230, 88);
    transition: 0.5s all;
    border: 3px solid black;
    border-radius: 10px;
    color: white;
}

.section-selector section {
    display: flex;
    flex-wrap: wrap;
}

.section-selector h2 {
    color: #8338ec;
    flex-basis: 100%;
}

.section-selector a:hover {
    color: grey;
    background-color: rgb(76, 121, 10);
    transform: scale(1.3);
}

#section-options label {
    font-size: 1.2rem;
}

#section-options {
    margin: 1.5rem 0.5rem;
}

#intro-title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgba(194, 25, 25, 0.862);
    margin: 1.5em;
}