body {
    background-color: #e9f5db;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    padding-left: 0.8em;
    /* background-color: turquoise; */
    border-radius: 10px;
    font-family: 'Roboto Slab', serif;
}

p>a {
    color: #0081a7;
}

p>a:hover {
    background-color: #d8e2dc;
    text-decoration: none;
}

#my-nav>ul {
    padding-left: 0;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

#nav-each-section>a {
    margin-left: auto;
}

.notes {
    font-style: italic;
    padding: 0 1.5em;
    background-color: rgb(198, 241, 187);
}

/* Styles for making a code example snippet inside a lecture */

.code-snippet {
    margin-left: 1em;
    display: inline-block;
    padding: 1em;
    background-color: aquamarine;
    font-size: 1rem;
    border: 2px solid #14213d;
}

.code-snippet>p {
    margin: 0;
    padding: 0;
}

.code-snippet>pre {
    margin: 0;
}

.code-snippet h3 {
    margin-top: 1.5rem;
}

.code-comment {
    color: #168aad;
    font-style: italic;
}

/* Code snippet style ends */

.value-tags {
    background-color: #ede0d4;
}

.var-tags {
    background-color: deeppink;
}

.keyword {
    font-style: italic;
    background-color: rgb(231, 169, 231);
}

.sec-para-main {
    line-height: 1.5em;
    margin: 1.5em 2em 2em 2em;
}

.sec-nav-li {
    padding: 1em 0;
}

.sec-nav-li>ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 5em;
    list-style-type: none;
}

.sec-nav-li a {
    text-decoration: none;
    font-weight: 550;
    line-height: 1.5;
    padding: 0.4em 0.2em;
}

.article-example {
    margin-bottom: 2em;
    margin-left: 1.5em;
}

.article-example pre {
    color: maroon;
}

.article-image {
    padding: 1em 2em;
}

.extra-info>h3 {
    margin-left: 2em;
    margin-bottom: 0;
    padding: 0.2em 0.7em;
    background-color: #dc51ee;
    display: inline-block;
    border-radius: 10px;
}

.extra-info>p {
    font-style: italic;
    padding-left: 2.5em;
}

.extra-info-aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

.extra-info-aside>p {
    margin: .5rem;
}

/* Styles for putting sources inside a lecture */
.src-link {
    padding: 0 2em;
}

.src-link p {
    display: inline;
    background-color: rgb(228, 240, 68);
    border-radius: 10px;
    padding: 0.3em 0.5em;
}

.src-link ul {
    list-style-type: none;
}

.src-link a {
    color: rgba(40, 182, 163, 0.801);
    text-decoration: none;
}

.src-link a:hover {
    background-color: powderblue;
}

.sec-jump-footer {
    display: flex;
    justify-content: space-between;
}

.sec-jump-footer a {
    border-radius: 8px;
    color: white;
    margin: 1rem;
    background-color: crimson;
    padding: 1rem;
    text-decoration: none;
}

#scrollUp {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-color: #0069ff;
    border-radius: 18px;
    bottom: 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.3px;
    opacity: 1;
    padding: 11px 0 9px;
    right: 20px;
    margin-bottom: 3rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
    width: 140px;
}