<link rel="stylesheet" href="/styleSheets/sectionForm.css">
<form action="/section" method="POST">
    <h2>Make a new section: </h2>
    <div class="new-form">
        <div>
            <label for="section[title]" required>Title:</label>
            <input type="text" id="section[title]" name="section[title]">
        </div>
        <div>
            <label for="section[num]">Number:</label>
            <input type="number" id="section[num]" name="section[num]">
        </div>
        <div>
            <label for="section[lectures]">Number of lectures in section:</label>
            <input type="text" id="section[lectures]" min="1" name="section[lectures]">
        </div>
        <div>
            <label for="section[sectype]" required>Choose your section type:</label>
            <select name="section[sectype]" id="section[sectype]">
                <option value="html">HTML</option>
                <option value="css">CSS</option>
                <option value="js">Javascript</option>
                <option value="backend">Backend</option>
            </select>
        </div>
        <!-- On typing or selecting lecture numbers, fields with lecture number should be made 
        asking for lecture title and their number -->
        <div id="lectures">
            <div>
                <label for="lecture[title]">Title for lecture:</label>
                <input type="text" placeholder="[Your lecture title here]">
            </div>
            <!-- Make a loop to run lecture field when user select the lecture numbers in a section -->
            <div>
                <label for="lecture[number]">Lecture No.</label>
                <input type="number" name="lecture[number]" id="lecture[number]">
            </div>
        </div>
        <button>Submit</button>
    </div>
</form>