<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>

<body>
    <form action="" method="post">
        <label for="fullname">Name:</label>
        <input type="text" name="fullname" id="fullname">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <label for="male">Male</label>
        <input type="radio" name="gender" id="male" value="Male">
        <label for="female">Female</label>
        <input type="radio" name="gender" id="female" value="Female">
        <label for="other">Other</label>
        <input type="radio" name="gender" id="other" value="Other">
        <label for="dob">Date of birth:</label>
        <input type="date" name="dob" id="dob">
        <label for="occupation">Occupation:</label>
        <input type="text" id=occupation>
        <button>Link with Github</button>
        <button>Link with StackOverflow</button>
        <button type="submit">Sign Up!</button>
    </form>
</body>

</html>