<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Future Updates</title>
</head>
<body>
    <!-- Index routes file - -->
    app.post('/section', async (req, res) => {
        const { title, num, lectures, sectype } = req.body.section;
        const mySection = new Section({ title, num, lectures, sectype });
        console.log(mySection);
        await mySection.save();
        res.send(mySection);
    })

    app.get('/section/new', (req, res) => {
        res.render('allnotes/newSection.ejs')
    })

    // Link to test route -
    // http://localhost:8080/section/view/62c6bb343e6fcaacef7deff9

    app.get('/section/view/:id', async (req, res) => {
        console.log(req.params.id);
        const { id } = req.params;
        const foundSection = await Section.findById(id);
        res.send(foundSection);
    })

    app.get('/section/trial', async (req, res) => {
        const newSection = new Section({ title: "Test section", num: 45, lectures: 6, sectype: 'html' });
        await newSection.save();
        res.send("Section made successfully");
    })

    app.get('/home', async (req, res) => {
        //  First check if there is a logged in user or not
        // To check if there is user made sections or not
        // const userSection = await Section.find({ _id: "62c6bb343e6fcaacef7deff9" });
        const userSections = await Section.find({});
        if (userSections.length) {
            return res.render('allnotes/index', { userSections });
        }
        res.render('allnotes/index');
    })    
     <!-- Index routes file ends --->
     <!-- Main file -->
            <!-- Place for user own created sections -->
            <!-- <section data-topic="user-section">
            <h2>My sections -</h2>
            <% for(section of userSections) {%>
                <p>Section made by the user</p>
                <% } %>
        </section> -->
</body>
</html>