<header>
    <h1 class="backend-sec-heading">Section 35: Defining RESTful routes</h1>
    <nav class="sec-nav-li" id="sec35-nav">
        <ul>
            <li><a href="#Lec352">Lecture 352</a></li>
            <li><a href="#Lec353">Lecture 353</a></li>
            <li><a href="#Lec354">Lecture 354</a></li>
            <li><a href="#Lec355">Lecture 355</a></li>
            <li><a href="#Lec356">Lecture 356</a></li>
            <li><a href="#Lec357">Lecture 357</a></li>
            <li><a href="#Lec358">Lecture 358</a></li>
            <li><a href="#Lec359">Lecture 359</a></li>
            <li><a href="#Lec360">Lecture 360</a></li>
            <li><a href="#Lec361">Lecture 361</a></li>
            <li><a href="#Lec362">Lecture 362</a></li>
            <li><a href="#Lec363">Lecture 363</a></li>
            <li><a href="#Lec364">Lecture 364</a></li>
            <li><a href="#Lec365">Lecture 365</a></li>
        </ul>
    </nav>
</header>