<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>

<body>
    <h1>About me</h1>
    <p>Hello Everyone, my name is Vaibhav and I am assuming you are here because you are student of Colt's Web
        Development Bootcamp and in serach of notes for the course or you came from one of my social media profiles.
        Anyways if you have come this far, might as well read it to the end. I showcase high quality skill in
        everything I do and go into the depths while understanding anything that I am pursuing. Not to brag , but
        I am about to finish watching Naruto Shippuden. If you got anime recommendations do tell me at
        vaibhav.devdesigner@gmail.com. I would love to hear from you. Thanks for reading it this far. Don't heistate to
        mail me for recommendations.
    </p>
</body>

</html>